/* Cart page styling */

/* Header styling */
h1 {
  margin-top: 2rem;
  text-align: center;
}

/* Cart item styling */
.cart-item {
  margin-right:50px;
  margin-left:50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}


.cart-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.cart-item p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.cart-item .item-desc {
  flex: 1;
  margin-right: 1rem;
}

.cart-item .item-price {
  flex: 0 0 8rem;
  text-align: right;
}

.cart-item .quantity {
  flex: 0 0 6rem;
  text-align: right;
}

.cart-item .item-total {
  flex: 0 0 8rem;
  text-align: right;
}

/* Cart total styling */
.cart-total {
  margin-top: 2rem;
  text-align: right;
  margin-right: 5rem;
}

.cart-total h3 {
  font-size: 1.5rem;
}

/* Repeating items styling */
.cart-repeating-items {
  margin-top: 2rem;
}

.cart-repeating-items h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.cart-repeating-items p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
img{
  border-radius: 10px;
}